<div class="container">
  <div class="game-items">
    <div class="rows-score">
      <div class="rows">
        <div class="panel">
          <mat-form-field appearance="outline">
            <mat-label>Enter milliseconds</mat-label>
            <input matInput [formControl]="millisecondsControl" type="number" />
            <mat-error *ngIf="millisecondsControl.hasError('min')"
              >100 milliseconds is min value</mat-error
            >
            <mat-error *ngIf="millisecondsControl.hasError('required')"
              >This field is required</mat-error
            >
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="gameStart()">
            Start
          </button>
        </div>
        <ng-container *ngFor="let row of items; let i = index">
          <div class="row">
            <ng-container *ngFor="let column of row; let j = index">
              <app-cell
                [type]="column.type"
                (clickEmitter)="clickEmitted(i, j)"
              ></app-cell>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <div class="score-panel">
        <span>Computer - </span>
        <span class="score">{{ score.computer }} </span>
        :
        <span>Player - </span>
        <span class="score">{{ score.player }}</span>
      </div>
    </div>
  </div>
</div>
